@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	margin: 0 auto;
	font: 12px/1.6 "宋体";
	background-color: #254B62;
}

#logo {
	width: 420px;
	height: 330px;
	background-color: #FFF;
	margin: 0 auto;
	margin-top: 150px;
}

#relogo {
	height: 20px;
	width: 420px;
	text-align: right;
}
#relogo span{
	margin-right: 20px;
}

#logo img {
	vertical-align: middle;
	padding-left: 10px;
	padding-top: -10px;
}

#logo h1 {
	padding-top: 30px;
	color: #254B62;
	font-size: 15px;
	font-family: "黑体";
}

form {
	margin-left: 70px;
}

p {
	margin: 20px;
}